
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 700px;
  margin: 2rem auto;

  @media screen and (max-width: 400px) {
    max-width: 180px;
  }
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffffff;
}
.question{
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}

.accordion-title:hover {
  background-color: #f4f5f5;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #f8f8f8;
  font-family: "Aleo", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}